<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inventec.studentManagement.dao.ScoreDao">
	
	<cache />
	<select id="studentScore"  parameterType="StudentScore" resultType="StudentScore">
		select 
			S.student_sname,C.score,J.subject_cname,J.subject_cno
		from 
			[STUDENT] S left join [STUDENTS_SCORE] C 
		on 
			S.student_sno = C.student_sno
			left join [SUBJECTS] J
		on 
			C.subject_cno = J.subject_cno
		where
		S.student_sno = #{student_sno}		
	</select>
	
	<!-- <resultMap type="StudentScore" id="StudentScore">
		<association property="student" javaType="Student">
			<result property="student_sname" column="student_sname"/>
		</association>
		<association property="score" javaType="Score">
			<result property="score" column="score"/>
		</association>
		<association property="subject" javaType="Subject">
			<result property="subject_cname" column="subject_cname"/>
		</association>
	</resultMap> -->
	
	<insert id="addStudentScore" parameterType="Score">
		insert into [STUDENTS_SCORE] values(#{student_sno},#{subject_cno},#{score})
	</insert>
	
	
	<update id="updateStudentScore" parameterType="Score">
		update [STUDENTS_SCORE] set score = #{score} 
		where subject_cno = #{subject_cno} and student_sno = #{student_sno}
	</update>
		
	<delete id="deleteStudentScore" parameterType="Score">
		delete  from [STUDENTS_SCORE] where subject_cno = #{subject_cno} and student_sno = #{student_sno}
	</delete>
	
	<select id="SortStudentScore" parameterType="int">
		select 
	</select>
	
	
	<!-- <select id="selectStudentTotalScore" parameterType="int" resultMap="StudentTotalScore">
		select
			top(
				<if test="topNumber != null and topNumber != ''">
					#{topNumber}
				</if>		
			) 
			S.student_sno,SUM(C.score) totalScore
		from 
			[STUDENT] S left join  [STUDENTS_SCORE] C
		on
			S.student_sno = C.student_sno
		group by
			S.student_sno
		order by
			sum(C.score)
			<if test="	sort != null and sort == 1">
				desc
			</if> 
	</select>
	
	<resultMap type="score" id="StudentTotalScore">
			<result property="totalScore" column="totalScore"/>
	</resultMap>
	
	
	<select id="studentTotalScoreByStudentSno" resultType="score" parameterType="list">
		select 
			S.student_sno,S.student_sname,C.score 
		from
			[STUDENT] S left join [STUDENTS_SCORE] C
		on 
			S.student_sno = C.student_sno 
		where 
		 	S.student_sno in 
		 	<foreach collection="list" item="item" separator="," open="(" close=")">
		 		#{item.student_sno}
		 	</foreach>
	</select> -->
	
	
	<select id="selectStudentTotalScore" parameterType="int" resultMap="studentTotalScoreByStudentSno">
		select 
			distinct 
				top(
					<if test="number != null and number != ''">
						#{number}
					</if>	
					
					)
				T.student_sno,S.student_sname,T.YW,T.SX,T.YY,T.WL,T.HX,T.SW,T.LS,T.DL,T.ZZ,T.XX,C.zong score 
		from 
			(
				select 
					* 
				from [STUDENTS_SCORE] pivot ( sum(score) for subject_cno in (DL,HX,LS,SW,SX,WL,XX,YW,YY,ZZ) ) as t) as T 
					right join (
								select 
									student_sno,SUM(score) zong 
								from 
									[STUDENTS_SCORE] 
								group by 
									student_sno
								) AS C 
		on 
			C.student_sno = T.student_sno 
		right join
			[STUDENT] S 
		on
			S.student_sno = C.student_sno
		order by 
			C.zong 
			<if test="	sort != null and sort == 1">
				desc
			</if> 
	</select>
	
	<resultMap type="Rank" id="studentTotalScoreByStudentSno" >
			<id property="id" column="student_sno"/>
			<result property="YW" column="YW"/>
			<result property="SX" column="SX"/>
			<result property="YY" column="YY"/>
			<result property="WL" column="WL"/>
			<result property="HX" column="HX"/>
			<result property="SW" column="SW"/>
			<result property="LS" column="LS"/>
			<result property="DL" column="DL"/>
			<result property="ZZ" column="ZZ"/>
			<result property="XX" column="XX"/>
		<association property="student" javaType="student">
			<result property="student_sname" column="student_sname"/>
			<result property="student_sno" column="student_sno"/>
		</association>
		<association property="score" javaType="score">
			<result property="totalScore" column="score"/>
		</association>
		
	</resultMap>
	
	<select id="selectStudentScore" parameterType="String" resultType="StudentScore">
		select 
			S.student_sno,S.student_sname,C.subject_cno,J.subject_cname
		from 
			[STUDENT] S left join [STUDENTS_SCORE] C
		on
			S.student_sno = C.student_sno
		left join
			[SUBJECTS] J
		on
			J.subject_cno = C.subject_cno
		where 
			S.student_sno = #{student_sno} and C.subject_cno = #{subject_cno}
	</select>
	
	
	<select id="testStudentRank" parameterType="int" resultMap="testStudentRankMap">
		select 
			top( #{number} )student_sno,SUM(score) score 
		from 
			[STUDENTS_SCORE]	
		group by 
			student_sno
		order by
			SUM(score)
			desc
	</select>
	
	<resultMap type="rank" id="testStudentRankMap">
		<association property="student" javaType="student">
			<id property="student_sno" column="student_sno"/>
		</association>
		<association property="score" javaType="score">
			<result property="totalScore" column="score"/>
		</association>
	</resultMap>
	

</mapper>